<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	<div class="p9_left_sidebar">
		<ul class="p9_ls_1001">
			<% if(typeof req.user.company_id!='undefined' && req.user.company_id!=''){%>
			<li class="first <%if (req.path == '/get-verified') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/get-verified">Get Verified</a><span class="open"></span>
			</li>
			<li class="<%if (req.path == '/authenticate') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/authenticate">Verify Others Data <span class="count-badge"><%= (typeof userData.VerifyRequestReceiver!='undefined') ? userData.VerifyRequestReceiver.length : 0 %></span></a>
			</li>
			<li class="<%if (req.path == '/data-access-request') { %>active<% } %><%if (req.path == '/data-access-report') { %>active<% } %><%if (req.path == '/compare-data') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/data-access-request">Request Data Access</a>
			</li>
			<% } else {%>
			<li class="first <%if (req.path == '/get-verified') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/get-verified">Get Verified</a><span class="open"></span>
			</li>
			<li class="<%if (req.path == '/authenticate') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/authenticate">Verify Others Data <span class="count-badge"><%= (typeof userData.VerifyRequestReceiver!='undefined') ? userData.VerifyRequestReceiver.length : 0 %></span></a>
			</li>
			<li class="<%if (req.path == '/data-access-request') { %>active<% } %><%if (req.path == '/data-access-report') { %>active<% } %><%if (req.path == '/compare-data') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/data-access-request">Request Data Access</a>
			</li>
			<li class="<%if (req.path == '/authorize') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/authorize">Authorize Data Access <span class="count-badge"><%= (typeof userData.DataRequestReceiver!='undefined') ? userData.DataRequestReceiver.length : 0 %></span></a>
			</li>
			<li class="last <%if (req.path == '/verification-history') { %>active<% } %>">
				<a href="<%=sails.config.appUrlwPort%>/verification-history">Verification History</a>
			</li>
			<% } %>
		</ul>
	</div>
	<div class="a-center paddtb20">
		<!-- <a href=""><img class="sepb20 img-full-lg img-full-md img-full-sm" src="/themes/frontend/images/ads-250x250.png" alt="google ad 250x250" width="250" height="250" /></a>
		<a href=""><img class="sepb20 img-full-lg img-full-md img-full-sm" src="/themes/frontend/images/ads-250x250.png" alt="google ad 250x250" width="250" height="250" /></a> -->
		<div class="embed-responsive embed-responsive-16by9" style="height: 300px;">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fRM-2dt-LIs?rel=0" height="300" allowfullscreen ></iframe>
        </div>
        <br>
	</div>
</div>