<style>
	#parent #popup { display: none; }
	#parent:hover #popup { display: block; }
</style>
<div class="main-container scan-to-get-verified">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 pull-right">
                <div class="p7_main_container">
                    <div class="p7_301">
                        <div class="p7_section_title"><h3>Scan to get verified</h3></div>
                        <div class="p7_content">
                            <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
                                <div class="qrbox ">
                                    <span class="qr_code" style="display: block;position: relative;top: auto;left: inherit;margin: auto;transform: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 39"><path d="M1 1h7v7h-7zM16 1h2v1h2v3h-1v2h-1v1h-1v-3h1v-1h1v-1h-2v-1h-1zM22 1h1v2h1v1h-2v-1h-1v-1h1zM24 1h1v1h-1zM29 1h1v1h-1zM31 1h7v7h-7zM2 2v5h5v-5zM13 2h2v2h1v1h-2v3h1v-1h1v1h1v1h-1v1h1v1h2v1h-2v2h-1v1h-1v-5h-2v-1h-2v-3h1v-2h1zM25 2h1v2h1v1h-2zM28 2h1v1h-1zM32 2v5h5v-5zM3 3h3v3h-3zM9 3h3v1h-1v1h-1v4h-1zM16 3h1v1h-1zM27 3h1v1h-1zM29 3h1v1h-1zM33 3h3v3h-3zM21 4h1v1h-1zM28 4h1v1h-1zM20 5h1v1h-1zM22 5h3v1h-3zM27 5h1v1h1v-1h1v5h-2v-2h1v-1h-1v1h-1zM21 6h1v2h-1zM12 7v1h1v-1zM19 7h1v2h-2v-1h1zM23 7h1v3h-1v-1h-1v-1h1zM25 7h1v2h-1zM1 9h1v1h1v-1h5v1h-1v1h2v-1h1v2h1v4h-2v-1h-1v-1h-1v1h-1v-1h-4v-1h-1zM17 9h1v1h-1zM20 9h1v1h-1zM26 9h1v1h-1zM31 9h5v1h1v1h-2v1h-2v-1h1v-1h-1v1h-1v-1h-1zM4 10v1h1v1h-2v-1h-1v1h1v1h2v-1h1v1h3v-1h-3v-1h-1v-1zM19 10h1v1h-1zM21 10h2v1h1v3h-1v-1h-1v1h-1v1h-1v1h-1v-2h1v-1h-1v-1h1v-1h1v1h1v-1h-1zM24 10h2v1h1v-1h1v1h2v1h-5v-1h-1zM12 11h1v1h1v2h-1v1h-1zM31 11h1v1h-1zM37 11h1v3h-1v-1h-1v-1h1zM30 12h1v1h1v-1h1v1h3v1h1v1h-3v-1h-6v-1h2zM18 13h1v1h-1zM25 13h2v1h1v1h-2v-1h-1zM17 14h1v1h-1zM22 14h1v1h-1zM24 14h1v1h-1zM2 15h1v1h-1zM4 15h1v1h-1zM7 15h1v1h-1zM13 15h2v2h1v1h2v1h-4v2h1v1h-3v1h-1v-2h-1v-1h2v1h1v-1h-1v-1h1v-1h1v-2h-1zM16 15h1v2h-1zM28 15h2v1h-1v2h-1zM31 15h1v1h-1zM33 15h1v1h-1zM37 15h1v1h-1zM1 16h1v1h1v1h4v1h2v2h1v1h-3v-1h1v-1h-2v-1h-2v1h2v1h-1v1h-1v1h2v-1h1v1h4v1h1v3h-2v-1h-1v-1h-1v-1h-2v1h-2v-1h-1v-1h-1v-1h1v-1h-1v-1h-1v-1h1v-1h-1zM3 16h1v1h-1zM5 16h1v1h-1zM8 16h1v1h-1zM11 16h1v1h-1zM20 16h6v1h1v1h-2v-1h-3v1h-1v-1h-1zM32 16h1v1h-1zM34 16h1v1h-1zM36 16h1v1h1v1h-1v1h-1v-1h-1v-1h1zM7 17h1v1h-1zM19 17h1v1h-1zM31 17h1v1h-1zM33 17h1v1h-1zM10 18h2v1h-2zM22 18h3v1h-3zM27 18h1v1h-1zM29 18h2v1h-1v2h-1v-1h-1v-1h1zM32 18h1v1h-1zM34 18h1v1h-1zM21 19h1v1h-1zM26 19h1v1h-1zM31 19h1v1h-1zM33 19h1v1h-1zM35 19h1v1h-1zM37 19h1v3h-1v-1h-1v-1h1zM17 20h1v1h1v1h2v1h-2v1h1v1h-2v-1h-1v1h-2v1h2v1h1v1h-1v1h3v-1h-1v-2h1v1h1v1h1v-1h1v1h1v1h-3v1h1v1h-2v-1h-4v1h-1v-1h-1v-1h-1v-1h-1v-1h1v-1h1v-3h1v-1h1v1h2v-1h-1zM22 20h4v1h-4zM34 20h1v1h-1zM21 21h1v1h-1zM26 21h1v1h-1zM28 21h1v1h-1zM31 21h3v1h-3zM35 21h1v1h-1zM22 22h4v1h1v1h-2v-1h-1v2h-1v1h-1v-1h-1v-1h1zM27 22h1v1h-1zM29 22h2v1h-2zM36 22h1v1h-1zM1 23h1v2h2v2h-1v-1h-1v4h-1zM12 23h1v1h-1zM28 23h1v1h-1zM31 23h2v1h-1v1h4v1h-1v1h-1v-1h-3zM35 23h1v1h-1zM37 23h1v1h-1zM7 25h1v1h-1zM17 25h1v1h-1zM25 25h2v1h-2zM28 25h2v1h-2zM37 25h1v1h-1zM5 26h1v1h-1zM21 26h1v1h-1zM24 26h1v1h-1zM27 26h1v1h1v1h-3v1h-1v-2h2zM30 26h1v1h-1zM36 26h1v1h-1zM6 27h3v1h-2v1h1v1h-4v-1h-1v-1h2v1h1zM15 27v1h1v-1zM31 27h1v1h-1zM33 27h1v1h-1zM35 27h1v1h-1zM37 27h1v1h-1zM9 28h3v1h-1v1h-1v1h-1zM34 28h1v1h-1zM12 29h1v1h1v1h1v1h-2v1h-2v-1h-1v-1h2zM26 29h8v1h1v1h-1v1h1v1h-1v2h-1v-1h-1v1h-1v-1h-2v2h-1v1h1v1h-4v-1h-1v-1h2v1h1v-3h1v-2h1v-2h-2v1h-1v1h-1v-1h-1v1h-1v-2h3zM35 29h3v1h-3zM30 30v3h3v-3zM1 31h7v7h-7zM16 31h2v1h-1v1h-1zM19 31h1v1h-1zM31 31h1v1h-1zM35 31h3v7h-3v-1h2v-1h-1v-1h1v-2h-1v-1h-1zM2 32v5h5v-5zM9 32h1v1h1v1h-1v2h-1zM21 32h1v1h2v1h-1v1h-1v-1h-1zM24 32h1v1h-1zM3 33h3v3h-3zM13 33h3v1h2v1h-4v-1h-1zM19 33h1v1h-1zM26 33h1v1h-1zM35 33h1v1h-1zM12 34h1v1h-1zM24 34h2v1h-2zM21 35h1v1h-1zM30 35h1v1h1v-1h1v3h-3v-1h-1v-1h1zM10 36h2v1h-1v1h-2v-1h1zM13 36h3v1h-3zM17 36h1v1h2v1h-3zM22 36h1v1h-1zM34 36h1v1h-1zM21 37h1v1h-1z"></path></svg></span>
                                    <span><img src="/themes/frontend/images/qrcode-logo.png"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p class="text-center">Scan QR Code to use this feature.</p>
								<center><a class="p5_rc1005 skip_now" href="/get-verified">I do not have app yet &nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			<!-- Sidebar nav verification Starts -->
            <%- partial("../includes/sidebar-nav-verification.ejs") %>
            <!-- Sidebar nav verification Ends -->
			
        </div>
    </div>
</div>

<script type="text/javascript">
	function get_qr(user_socket_id){
      $.ajax({
          url: '/qr_code',
          dataType: 'json',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify( { "socket_id": user_socket_id,"socket_type":"get_verified",'user_id':'<%- req.user.id %>'} ),
          processData: false,
          success: function( data, textStatus, jQxhr ){
            $(".qr_code").html(data.qr);
			  setTimeout(function(){
				get_qr(user_socket_id);
			  }, 15000);
          },
          error: function( jqXhr, textStatus, errorThrown ){
              console.log( errorThrown );
          }
        });  
	}
	$(document).ready(function(){
		var csocket = io('<%=sails.config.appUrl+":"+sails.config.portSoketIo%>');
		var csocket_id = '';
		csocket.on('error', function (e) {
			console.log('System', e ? e : 'A unknown error occurred');
		});
		csocket.on('disconnect', function() {
			console.log('disconnected');
		});
		csocket.on('connect', function () {
			csocket_id = csocket.id;
			get_qr(csocket_id);
		});
		csocket.on("received_p_msg",function(req_socket){
			if(req_socket['user_id']== '<%- req.user.id %>') {
                window.location.href = "<%- sails.config.appUrlwPort %>/get-verified";
            }
		});
	});
</script>