<%
//profile image
var profile_image = '/themes/frontend/images/default-user.png';
var cover_image = '/themes/frontend/images/company-profile.jpg';

if(userData.profile_image &&  userData.profile_image!=''){
    profile_image = '/uploads/users/'+userData.profile_image;
}
if(userData.cover_image &&  userData.cover_image!=''){
    cover_image = '/uploads/users/'+userData.cover_image;
}

var user_Slug='/profile';
if(userData.slug &&  userData.slug!=''){
    user_Slug = '/profile/'+userData.slug;
}
%>
<div class="main-container">
    <div class="container">
        <div class="row">

            <%- include ./user-left-sidebar.ejs %>

            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 pull-right">
                <form method="post" id="form_privacy_setting" class="form-group">
                    <input type="hidden" name="user_id" id="user_id" value="<%=req.user.id%>">
                    <div class="p9_container p9_main_form p10_main_form">
                        <% if(typeof privacy!='undefined' && privacy.length>0){ %>
                            <% _.each(privacy, function (privacies) { %>
                                <div class="form-group">
                                    <label class="label" for=""><%=privacies.name%></label>
                                </div>
                                <%
                                if(typeof privacies.privacyoptions!='undefined' && privacies.privacyoptions.length>0) {
                                    _.each(privacies.privacyoptions, function (privacy_option) {
                                        var checked='';
                                        _.each(userprivacy, function (user_privacy) {
                                            if(user_privacy.privacy_option_id==privacy_option.id){
                                                checked = 'checked';
                                            }
                                        })

                                        if(checked==''){
                                            if(privacy_option.option_val=='Public (default)'){
                                                checked = 'checked';
                                            }
                                        }
                                %>
                                <div class="form-group">
                                <input name="privacy_option_id" type="radio" id="privacy_option_id_<%=privacy_option.id%>" value="<%=privacy_option.id%>" <%=checked%>>
                                <label for="radio100"><b><%=privacy_option.option_val%></b></label>
                                <br />
                                <label for="radio100"><i><%=privacy_option.details%></i></label>
                                </div>
                                <%  })
                                }
                                %>
                            <% }) %>

                        <% } %>
                        <div class="form-group p10_3011">
                            <p class="p10_3012">See your block list, and make changes if you’d like : <a class="p10_3013" href="/connection/blocklist"><i class="fa fa-list" aria-hidden="true"></i> <span> Check Block List</span></a></p>
                        </div>
                        <div class="form-group a-center p9_submit_button">
                            <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary">Discard</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script language="JavaScript">

$('form#form_privacy_setting').submit(function (event) {
    var ajax_url='/store_privacy_setting';
    var form_id = 'form_privacy_setting';
    var redirect_url  ='/profile/privacy';
    savePrivacySettings(ajax_url,form_id,redirect_url);
    
    event.preventDefault();
});

function savePrivacySettings(ajax_url,form_id,redirect_url=null){
    var form = $('#'+form_id)[0]; // You need to use standard javascript object here
    var formData = new FormData(form);
    $.ajax({
        type: 'POST',
        url: ajax_url,
        data:  formData,
        processData: false,
        contentType: false,
        enctype: 'multipart/form-data',
        success: function (response)
        {
            if (response.status=='OK')
            {
                $.bootstrapGrowl(response.msg, {type: 'success', delay: 2000});
                if(redirect_url!=''){
                    setTimeout(function() { window.location.href = redirect_url; }, 3000);
                }
            } else
            {
                $.bootstrapGrowl(response.msg, {type: 'danger', delay: 2000});
            }
        }
});
}
</script>