	<div id="edit_project" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title pr_title">Add Project</h4>
				</div>
				<form method="post" class="form-group" id="form_project">
					<input type="hidden" id="id" name="id">
					<input type="hidden" id="del_doc" name="del_doc" value="0">
					<input type="hidden" id="old_project_string" name="old_project_string" value="" class="old_project_string">
					<input type="hidden" id="is_verify_flag" name="is_verify_flag" value="0" class="is_verify_flag">
					<div class="modal-body">
						<div id="form-errors"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<label for="title">Project Name</label>
										<input type="text" name="title" class="form-control" id="title" required="true" placeholder="Enter Project Name" >
										</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="project_url">Project URL</label>
										<input type="text" name="project_url" class="form-control" id="project_url" placeholder="Enter Project URL" >
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="Organisation_name">Company or Organization Name</label>
										<select class="pr_company_name form-control" id="company_id" name="company_id" placeholder="Select ">
											<option value="">Select Company or Organization</option>
											<% if(typeof companylist!="undefined" && companylist.length>0){ %>
												<% _.each(companylist, function (company) { %>
													<option value="<%=company.id%>"><%=company.company_name%></option>
												<% }) %>
											<% } %>
										</select>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<label for="location">Location</label>
										<input type="text" name="location" class="form-control" placeholder="Enter Location" id="location_autocomplete">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="from_month">From</label>
										<select name="from_month" id="from_month" class="form-control">
											<option value="">From Month</option>
											<% for(var i=0;i<12;i++) { 
												var k=i+1;
												if(k<10){
													k = '0'+k;
												}
												%>
												<option value="<%=k%>"><%=DateDifferentService.monthList(i)%></option>
											<%}%>
										</select>
										<input type="text" name="from_year" id="pro_from_year" class="form-control" placeholder="From Year">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="to_month">To</label>
										<select name="to_month" id="to_month" class="form-control">
											<option value="">To Month</option>
											<% for(var i=0;i<12;i++) { 
												var k=i+1;
												if(k<10){
													k = '0'+k;
												}
												%>
												<option value="<%=k%>"><%=DateDifferentService.monthList(i)%></option>
											<%}%>
										</select>
										<input type="text" name="to_year" id="pro_to_year" class="form-control" placeholder="To Year">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="description">Description</label>
										<textarea name="description" class="form-control" id="description" rows="2" placeholder="Write Description" ></textarea>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group general_block_url" style="display:none">
										<a href="#" id="doc_url_link" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> <span id="doc_url"></span></a>
										<a href="javascript:;" class="del_doc" title="Delete document"><i class="fa fa-trash" aria-hidden="true"></i></a>
									</div>
									<div class="form-group input-upload general_block_upload">
										<input type="file" name="doc_file" class="upload_doc_id input-upload-button">
										<div class="upload-file-text">
											<i class="fa fa-cloud-upload" aria-hidden="true"></i> Drag and drop file here<br>or<br><span>Browse files</span>
										</div>
										<span class="file_name"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary pull-left delete_btn" title="Delete Project" onclick="delete_project()" style="display:none;"><i class="fa fa-trash" aria-hidden="true"></i></button>
						
						<button type="submit" class="btn btn-primary mBottom0">Save</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
