<div bgcolor="#fff">
<table style="padding:0px;table-layout:auto;font-family:Trebuchet MS;" align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="650">
	<tbody>
		<tr>
			<td align="center" valign="top">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="648">
					<tbody>
						<tr>
							<td colspan="4" bgcolor="#fff" valign="top">
								<center><a href="<%=siteURL%>" target="_blank"><img src="<%=siteURL%>/themes/frontend/images/logo.png" alt="Lynked.World" title="Lynked.World" style="display:block; padding-bottom:20px" align="top" height="33" width="195" tabindex="0"></a></center>
							</td>
						</tr>
						<tr>
							<td colspan="4" valign="top" style="background: linear-gradient(to right, #0092be 0%,#0075bb 20%,#0099c3 100%);">
								<center><a href="<%=siteURL%>" target="_blank"><img src="<%=siteURL%>/themes/frontend/images/refer-a-friend.png" alt="verify email" title="Lynked.World" style="display:block;" align="top" height="70" tabindex="0"></a></center>
								<span style="font-family:Trebuchet MS;display:block;text-align: center;color: #fff; padding-bottom: 10px;font-size: 22px;">Invitation to Join</span>							
							</td>
						</tr>
						<tr>
							<td bgcolor="" style="background: linear-gradient(to right, #0092be 0%,#0075bb 20%,#0099c3 100%);padding-left:15px;padding-right:15px;padding-bottom:19px" colspan="4">
								<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="border:1px solid #e5e5e5">
									<tbody>
										<tr>
											<td width="100%" valign="top" style="border-top:1px solid #f0f0f0;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0">
												<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top:1px solid #f7f7f7;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;border-bottom:1px solid #f7f7f7">
													<tbody>
														<tr>
															<td style="padding:20px" valign="top">
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tbody>
																		<tr>
																			<td valign="top"> 
																			<p style="margin-top:10px"><font style="font-size:16px;font-family:Trebuchet MS;font-weight:normal;line-height:18px;color:#010101" color="#010101" face="Trebuchet MS" size="3">Your friend wants you to join Lynked.World and be part of this trusted and verified professional network. </font></p>
																			<p style="font-size:13px;font-family:Trebuchet MS;font-weight:normal;line-height:18px;color:#010101">Click the link below or use the referral code to join us.</p>
																			<br>
																			<p><b style="width: 150px;display: inline-block;">Referral Code:</b> <strong><%=referral_code%></strong></p>
																			<p><b style="width: 150px;display: inline-block;">Referral Link:</b> <a href="<%=siteURL%>/?ref=<%=referral_code%>" target="_blank"><%=siteURL%>/?ref=<%=referral_code%></a></p>
																			<br>
																			<hr style="border:1px solid #e4e3e3;box-shadow: none;border-top:0;"">
																			
																			<p style="margin-top:10px"><font style="font-size:13px;font-family:Trebuchet MS;font-weight:normal;line-height:18px;color:#010101" color="#010101" face="Trebuchet MS" size="3">You must create your account through your friend’s link above in order to be eligible for the 5 LBD is rewards. <br /><br /><%=message%></font></p>
																			<p style="margin-top:10px"><font style="font-size:13px;font-family:Trebuchet MS;font-weight:normal;line-height:18px;color:#010101">Please review our reward program for more details.</p>
																			<p><a href="<%=siteURL%>/rewards"><%=siteURL%>/rewards</a></p><br>
																			<p style="margin-top:10px"><font style="font-size:13px;font-family:Trebuchet MS;font-weight:normal;line-height:18px;color:#010101">Thank You</p><br>
																			</td>
																		</tr>
																		<tr>
																			<td colspan="2" style="border-top:1px solid #e4e3e3">&nbsp;</td>
																		</tr>
																		<tr>
																			<td>
																			<table border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody><tr>
																			<td style="font-size:10px;color:#666666;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif" valign="top" width="100%">
																			Please note that this message was sent to the following email address: (<a href="mailto:<%=recipientEmail%>" style="color:#666666;text-decoration:none;font-weight:bold" target="_blank"><%=recipientEmail%></a>)
																			<br>
																			</td>
																			</tr>
																			<tr>
																			<td style="font-size:10px;color:#666666;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif" valign="top" width="100%">
																			<br>© 2018 Lynked.World. All rights reserved. Lynked.World, and the Lynked.World logo are trademarks and/or registered trademarks of Lynked.World.
																			<br><br>
																			<a href="<%=siteURL%>" target="_blank">Lynked.World</a>
																			<br>
																			</td>
																			</tr>
																			</tbody>
																			</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</div>