<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">
<style type="text/css">
	.awardsby h2, .awardsby h3 {
		color: #fff;
	}
	.awards h2.award-title {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.awardsby {
		    padding: 20px 0 60px 0;
    		background: linear-gradient(0deg,rgba(19, 116, 193, 0.79),rgba(19, 116, 193, 0.79)),url('../themes/frontend/images/gallery-5.jpeg') 0 0 no-repeat;
    			background-size: cover;
    			background-attachment: fixed;
	}
	.awardsby-images {
		    padding: 60px 0;
    		background: linear-gradient(0deg,rgba(199, 75, 193, 0.54),rgba(199, 116, 75, 0.54)),url('../themes/frontend/images/gallery-5.jpeg') center center no-repeat;
    			background-size: cover;
    			background-attachment: fixed;
	}
	.aws {
		height: 220px;
		margin:0 auto;
	}
	.event-calender h2, .event-calender h3 {
		color: #fff;
	}
	.awardsby1 h2, .awardsby1 h3 {
		color: #fff;
	}
	.awardsby1 {
		    padding: 20px 0 60px 0;
    		background: linear-gradient(0deg,rgba(19, 116, 193, 0.79),rgba(19, 116, 193, 0.79)),url('../themes/frontend/images/inauguration-bg.jpg') 0 0 no-repeat;
    			background-size: cover;
    			background-attachment: fixed;
	}
	.awardsby1 .team-title h3 {
		font-size: 18px;
	}
	.awardsby1 .team-title p {
		color: #efefef;
		font-size: 14px;
    	font-weight: normal;
	}
	.awardsby1 .team-img img {
		width: 150px;
		height: 150px;
		display: block;
		margin:0 auto;
	}
	.knowmore {
		display: block;
		width: 180px;
		margin:0 auto;
		text-align: center;
	}
</style>

<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">About Us</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"" >
					<div class="static-pages">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
							<p class="text-center">
								<img src="/themes/frontend/images/lynkedworld-sign.png" class="img-responsive center-block" width="100"><br>
								<span class="main-text"><b>Our mission</b> is to provide <b>a secure platform</b> for individuals and institutions to own, control <br> and share <b>digitally trusted identity</b>.</span><br><br>
							</p>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<p class="text-justify">
									<b class="topic-title text-center">Our Solution</b><br>
									<span><b>Lynked.World</b> is a platform built upon <b>Blockchain Technology</b> to verify digital identity, education and professional experience. Blockchain security provides an irrefutable <b>digitally verified</b> block of information that is never compromised. The platform enables users to control their digital information and share directly with employers, institutions & businesses. We are moving towards a <b>global platform</b> that not only serves the purpose of <b>digitalizing identities</b> but will also become a <b>network of trusted professionals</b>.</span>
								</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<p class="text-justify">
									<b class="topic-title text-center">Our Story</b><br>
									<span>Current process of sharing identity and background verification is time consuming, costly and error prone. With the evolution of <b>blockchain</b>, we are <b>revolutionizing information sharing process</b>. We are building the ecosystem of direct verification of profiles between various entities making it <b>cost effective & taking away the need of middleman/brokers</b>. We are on-boarding several <b>educational, government and professional institution(s)</b> on our platform which will provide <b>global coverage</b> to our <b>user base</b>.</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="awardsby">
			<div class="" style="overflow: hidden;">
				<h2 class="text-center">AWARDS</h2>
				<div class="col-md-4 col-xs-12">
					<img src="/themes/frontend/images/awward1.png" class="img-responsive aws">
					<br>
					<img src="/themes/frontend/images/award-img1.png" class="img-responsive">
				</div>
				<div class="col-md-4 col-xs-12">
					<img src="/themes/frontend/images/awward2.png" class="img-responsive aws">
					<br>
					<img src="/themes/frontend/images/award-img2.png" class="img-responsive">
				</div>
				<div class="col-md-4 col-xs-12">
					<img src="/themes/frontend/images/awward3.png" class="img-responsive aws">
					<br>
					<img src="/themes/frontend/images/award-img3.png" class="img-responsive">
				</div>
				<div class="clearfix"></div>
				<h2 class="text-center">Awarded By</h2><br>
				<div class="col-md-6 col-md-offset-3 col-xs-12">
					<img src="/themes/frontend/images/times-ascent.jpeg" class="img-responsive center-block">
					<br>
					<a href="/awards" class="btn btn-primary knowmore">Know More</a>
				</div>
				
			</div>
		</section>
		<section class="awardsby1">
			<div class="container">
				<h2 class="text-center sec-title" style="margin-bottom: 0;">Lynked.World Inaugurated at 58th National Cost Convention 2018 by<br>The Institute of Cost Accountant of India</h2>
				<h3 style="margin-top:0; margin-bottom: 30px; font-size: 16px;">(Statutory body under an Act of Parliament of India)</h3>
				<div class="col-md-12 col-xs-12">
					<img src="/themes/frontend/images/inauguration.png" class="img-responsive img-rounded" width="100%">
				</div>
				<div class="clearfix"></div>
				<h2 class="text-center sec-title">Attended By</h2><br>
				<div class="row text-center">
		            <div class="col-md-3">
		                <div class="team-box">
			                <div class="team-img">
			                    <img src="/themes/frontend/images/shri-m-venkaiah-naidu.jpg" class="img-responsive img-circle">
			                </div>
			                <div class="team-title">
			                    <h3>Shri M Venkaiah Naidu</h3>
			                    <p>(Hon’ble Vice President of India)</p>
			                </div>
			            </div>
		            </div>
		            <div class="col-md-3">
		                <div class="team-box">
			                <div class="team-img">
			                    <img src="/themes/frontend/images/suresh_prabhu.jpg" class="img-responsive img-circle">
			                </div>
			                <div class="team-title">
			                    <h3>Shri Suresh Prabhu</h3>
			                    <p>(Union Minister of Commerce & Industry, India)</p>
			                </div>
			            </div>
		            </div>
		            <div class="col-md-3">
		                <div class="team-box">
			                <div class="team-img">
			                    <img src="/themes/frontend/images/piyush-goyal.jpg" class="img-responsive img-circle">
			                </div>
			                <div class="team-title">
			                    <h3>Shri Piyush Goyal</h3>
			                    <p>(Union Minister of Railways & Coal, India)</p>
			                </div>
			            </div>
		            </div>
		            <div class="col-md-3">
		                <div class="team-box">
			                <div class="team-img">
			                    <img src="/themes/frontend/images/p-p-chaudhary.jpg" class="img-responsive img-circle">
			                </div>
			                <div class="team-title">
			                    <h3>Shri P.P.Chaudhary</h3>
			                    <p>(Union Minister of State for Law & Justice & Corporate Affairs, India)</p>
			                </div>
			            </div>
		            </div>
	        	</div>
			</div>
		</section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"" >
						<div class="static-pages">	
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<img src="/themes/frontend/images/pemplate-feb-event-new.png" class="img-responsive pemphlet" width="100%">
								</div>	
							</div>
						<br><br>
						<div class="row">
							<b class="topic-title text-center">Our Team</b><br><br>
							<div class="first-row">
								<% _.each(our_team,function(member, key){ %>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="media">
										  <div class="media-left">
											<% var mem_img = "/themes/frontend/images/default-user.png";
											if(member.img != "") {
												mem_img = member.img;
											} %>
											<a href="<%=member.link %>" ><img src="<%=mem_img %>" class="media-object img-circle" style="width:100px;height:100px;"></a>
										  </div>
										  <div class="media-body">
											<a href="<%=member.link %>" class="team-title"><%=member.name %> <img src="/themes/frontend/images/sociallink.png" width="19"></a>
											<h4 class="media-heading"><%=member.headline %></h4>
											<p><%=member.description %></p>
										  </div>
										</div>
									</div>
									<% if(key%2 != 0) { %>									
										</div><div class="first-row">
									<% }%>
								<% }) %>
							</div>
						</div>
						<br><br>
						<div class="row">
							<b class="topic-title text-center">Our Advisors</b><br><br>
							<div class="first-row">
								<% _.each(our_advisors,function(advisor, key){ %>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="media">
										  <div class="media-left">
											<% var mem_img = "/themes/frontend/images/default-user.png";
											if(advisor.img != "") {
												mem_img = advisor.img;
											} %>
											<a href="<%=advisor.link %>" target="<%=advisor.target %>"><img src="<%=mem_img %>" class="media-object img-circle" style="width:100px;height:100px;"></a>
										  </div>
										  <div class="media-body">
											<a href="<%=advisor.link %>" class="team-title" target="<%=advisor.target %>"><%=advisor.name %> <img src="/themes/frontend/images/sociallink.png" width="19"></a>
											<h4 class="media-heading"><%=advisor.headline %></h4>
											<p><%=advisor.description %></p>
										  </div>
										</div>
									</div>
									<% if(key%2 != 0) { %>									
										</div><div class="first-row">
									<% }%>
								<% }) %>
							</div>
						</div>
						<br><br>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
