<% _.each(events,function(event){ %>
<div class="list_connection">
    <div class="p51_feed post feed_list"  data-id="<%=event.id%>">
        <div class="p51_feed_post">
            <div class="p51_feed_post_user_block dropdown_selection">
                <div class="dropdown p51_feed_post_more_info">
                    <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu p51_feed_fpa">
                        <li><button class="p51_feed_fpa1 btnEventedit" type="button">Edit</button></li>
                        <li><button class="p51_feed_fpa2 btnEventDelete" type="button">Delete</button></li>
                    </ul>
                </div>
                <div class="p51_feed_post_user_info">
                    <%
                    var userimage = '/themes/frontend/images/default-user.png';
                    if(typeof event.user_id!='undefined' && typeof event.user_id.profile_image!='undefined' && event.user_id.profile_image!=''){
                        userimage = '/uploads/users/'+event.user_id.profile_image;
                    }
                    %>                    
                    <a href="javascript:;">
                        <img class="p51_feed_post_user_img" src='<%=userimage%>' alt='<%=_blog.user_id.name%>' width="65" height="65" />
                    </a>
                    <div class="p51_feed_post_user_feed_info">
                        <div class="fmc5001"><a href="/event/<%=event.slug%>"><%=event.title%></a></div>
                        <div class="fmc5002">Posted by - <a href=""><%=event.user_id.name%></a></div>
                        <div class="fmc5003">3 Hrs &nbsp; <i class="fa fa-globe" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>

            <div class="p51_feed_post">
                <div class="p_29_mc">
                    <div class="p29_li pad20 pad_tb10">
                        <div class="p29_li_check">
                            <ul class="event-list">
                                <% 
                                if(event.feedmedias.length > 0) { 
                                    var event_image = "/uploads/feeds/"+event.feedmedias[0].image;
                                }else{
                                    var event_image = "/themes/frontend/images/image_not_found.jpeg"
                                }

                                %>                                                
                                <li>
                                    <img alt="" src="<%=event_image%>" />
                                    <div class="info">
                                        <h2 class="title"><%=event.title%></h2>
                                        <p class="desc">
                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; <%=event.location%></span><br>
                                            <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; 12 Dec, 2018</span><br>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; 9:00 AM - 12:00 PM</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <label class="input_check_label" for="selection1"><%-event.feed_details%></label>
                        </div>
                    </div>
                </div>
            </div>
            
            <% 
                var totalLikes = 0;
                var totaldislikes = 0;
                var isliked = 0;
                var isdisliked = 0;
                feedlikes = event.feedlikes;

                _.each(feedlikes, function (feedlike) {
                    temp2 = [];
                    temp2 = feedlike;
                    if(feedlike.status==1){
                        totalLikes = totalLikes+1;
                    }
                    if(feedlike.status==2){
                        totaldislikes = totaldislikes+1;
                    }
                    if(feedlike.status==2 && feedlike.user_id==req.user.id){
                        isdisliked = 1;
                    }
                    if(feedlike.status==1 && feedlike.user_id==req.user.id){
                        isliked = 1;
                    }
                })
                totalLikes = totalLikes;
                totaldislikes = totaldislikes;
                isliked = isliked;
                isdisliked = isdisliked;
            %>

            <div class="p51_feed_post_feed_not">
                <div class="pull-left p51_feed_pfn1 p51_feed_pfn3"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="total_likes"> &nbsp; <%=totalLikes%> Likes</span></div>

                <div class="pull-left p51_feed_pfn1 p51_feed_pfn2"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="total_dislikes"> &nbsp; <%=totaldislikes%> Disikes</span></div>

                <div class="pull-right p51_feed_pfn2 total_comments"><%=event.feedcomments.length%> Comments</div>
                
                <div class="pull-right p51_feed_pfn3">0 Shares</div>
            </div>
            <div class="p51_feed_post_action bloglist">
                <button type="button" class="p51_feed_world_share_lynked"><img src="/themes/frontend/images/color-logo.svg" class="" width="25" height="25" alt="share with lynked"><span class=""> &nbsp; 55 Lynk ($3)</span> &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></button>

                <button type="button" class="active-action p51_fw12 marlr8 btnlike <% if(isliked==1){ %> active <% } %>" title="Like"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Like</span></button>

                <button type="button" class="active-action p51_fw12 btndislike <% if(isdisliked==1){ %> active <% } %>" title="Dislike"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Dislike</span></button>

                <button type="button" class="p51_fw12 marlr8" title="Comment"><i class="fa fa-comment" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Comment</span></button>

                <button type="button" class="p51_fw12" title="Share"><i class="fa fa-share" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Share</span></button>

                <div class="row">
                    <div class="">
                        <div class="comment-form">
                        <div class="comments mycomments">
                        <% if(event.feedcomments.length > 3 ){ %>
                        <a href="javascript:;" class="see-more">
                            <i class="fa fa-repeat"></i> Load Previous Comments
                        </a>
                        <% } %>

                            <% 
                            if(event.feedcomments.length > 0 ){
                                var feedcomments =  event.feedcomments;
                                for(var _cindex=0; _cindex < feedcomments.length; _cindex++) {
                                    var _feedcomment = feedcomments[_cindex];

                            %>
                            <div class="comment-wrap" data-fid="<%=_feedcomment.feed_id%>">
                                <div class="photo">
                                    <div class="avatar" style="background-image: url('/themes/frontend/images/default-user.png')"></div>
                                </div>
                                <div class="comment-block">
                                    <p class="comment-user"><a href="/"><%=_feedcomment.user_id.name%></a></p>
                                    <p class="comment-text"><%=_feedcomment.comments%></p>
                                    <div class="p6_comment_count pull-left">
                                        <a href="javascript:;" class="btncommentlike" data-cid="<%=_feedcomment.id%>">Like</a> 
                                        &nbsp;&nbsp;&nbsp;&nbsp; 
                                        <a href="javascript:;" class="btncommentreply">Reply</a> 
                                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                                        <a href="javascript:;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span class="totalcomtlikes"><%=_feedcomment.commentlikes.length%></span></a> 
                                        &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:;"><i class="fa fa-comment" aria-hidden="true"></i> <%=_feedcomment.commentreply.length%></a>
                                    </div>
                                    <% 
                                    if(_feedcomment.commentreply.length > 0 ){
                                        var commentreply =  _feedcomment.commentreply;
                                        for(var _crindex=0; _crindex < commentreply.length; _crindex++) {
                                            var _commentreply = commentreply[_crindex];

                                    %>
                                    <div class="comment-wrap ember-mode" style="display: block;">
                                        <div class="photo">
                                            <div class="avatar" style="background-image: url('/themes/frontend/images/default-user.png')">
                                            </div>
                                        </div>
                                        <div class="comment-block">
                                            <p class="comment-user"><a href="http://local.lynked.world/profile/anil"><%=_commentreply.user_id.name%></a></p>
                                            <p class="comment-text"><%=_commentreply.comments%></p>
                                            <div class="p6_comment_count pull-left">
                                                <a href="javascript:;"  class="btncommentlike" data-cid="<%=_commentreply.id%>">Like</a> 
                                                &nbsp;&nbsp;&nbsp;&nbsp; 
                                                <a href="javascript:;" class="btncommentreply">Reply</a> 
                                                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                                                <a href="javascript:;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span class="totalcomtlikes"><%=_commentreply.commentlikes.length%></span></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp; 
                                                <a href="javascript:;"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
                                            </div>
                                            <div class="bottom-comment">
                                                <div class="comment-date">1 Week</div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } } %>
                                    
                                    <form method="post" class="form-comment formReply commentForm" style="display: none;">
                                        <div class="form-group">
                                            <textarea name="comments" id="comments" class="form-control post_comment" placeholder="Add a comment..."></textarea>
                                            <input name="parent_id" value="<%=_feedcomment.id%>" class="parent_id" type="hidden">
                                            <input name="feed_id" value="" type="hidden">
                                            <button type="submit" class="send-comment" value="replyform"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                        </div>
                                    </form>
                                    <div class="bottom-comment">
                                        <div class="comment-date">10 Mins </div>
                                    </div>
                                </div>
                            </div>
                            <% } } %>
                        </div>
                            <form method="post" class="form-comment commentForm">
                                <div class="form-group">
                                    <textarea name="comments" id="comments" class="form-control post_comment" placeholder="Add a comment..."></textarea>
                                    <input name="parent_id" class="parent_id" value="" type="hidden">
                                    <input name="feed_id" value="<%=event.id%>" type="hidden">
                                    <button type="submit" class="send-comment" value="mainform"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% }) %>