<%
if(feeds.length > 0){
    for(var _index=0; _index < feeds.length; _index++) {
        var _feed = feeds[_index];
        var blog_slug2='';
%>

<div class="list_connection">
    <!-- Display Only blog data -->
    <div class="feed_list poll_list p51_feed post" dataAccessRequestList="<%=_feed.user_id.id%>" data-owner_id="<%=_feed.user_id.id%>" data-id="<%=_feed.id%>">
        <div class="p51_feed_post">
            <% 
                if(typeof likedFeed!='undefined' && likedFeed.length > 0) {
                    feed_checked = likedFeed.filter(function (person2) { 
                        return person2 == _feed.id;
                    });
                    if(feed_checked!=''){
                        if(_feed.feedlikes && _feed.feedlikes.length > 0){
            %>
            <div class="p51_feed_post_other"><p><a href="javascript:;"><%=_feed.feedlikes[0].user_id.name%></a> Like this post</p></div>
            <% } } } %>
            <div class="p51_feed_post_user_block dropdown_selection <%- (_feed.type == 'J') ? 'job-list' : '' %>">
                
                <div class="dropdown p51_feed_post_more_info">
                    <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu p51_feed_fpa" role="menu" aria-labelledby="dLabel">
                        <% if(_feed.user_id.id == req.user.id){%>
                        <li>
                            <% if(_feed.type == 'B'){%>
                            <a href="/blogs/edit/<%=_feed.id%>" class="p51_feed_fpa1">Edit my post</a>
                            <% } else if(_feed.type == 'E'){ %> 
                            <a href="/event/edit/<%=_feed.id%>" class="p51_feed_fpa1">Edit my post</a>
                            <% } else if(_feed.type == 'P'){ %> 
                            <a href="/poll/edit/<%=_feed.id%>" class="p51_feed_fpa1">Edit my post</a>
                            <% } else if(_feed.type == 'J'){ %> 
                            <a href="javascript:;" class="p51_feed_fpa1">Edit my post</a>
                            <% } else { %>
                            <button class="p51_feed_fpa1 btnEditFeed" type="button">Edit my post</button>
                            <% } %>
                        </li>
                        <li><button class="p51_feed_fpa1 btnDeleteFeed" type="button">Delete my post</button></li>
                        <% } else { %>
                        <li><button class="p51_feed_fpa1 btnHide" type="button">Hide this post</button></li>
                        <li class="dropdown-submenu"><button class="p51_feed_fpa2" type="button">Report this post</button>
                            <ul class="dropdown-menu">
                                <li><button class="p51_feed_fpa3 btnSpam" type="button">It's spam</button></li>
                                <li><button class="p51_feed_fpa3 btnSpam" type="button">It's fake or scam</button></li>
                                <li><button class="p51_feed_fpa3 btnSpam" type="button">It's abusive or harmful</button></li>
                            </ul>
                        </li>
                        <li><button class="p51_feed_fpa3 btnBlockUser" type="button">Block this user</button></li>
                        <% } %>
                    </ul>
                </div>
                <%
                    var userimage =  '/themes/frontend/images/default-user.png';
                    var slug_url  = '/profile';
                    var displayname='';
                    var my_position =  '';
                    var my_company = '';
                    var feedUser2 = '';

                    if(typeof _feed.user_id!='undefined'){

                        feedUser2 =_feed.user_id;
                        if(typeof feedUser2.profile_image!='undefined' && feedUser2.profile_image != ''){
                            userimage = '/uploads/users/'+feedUser2.profile_image;
                        }

                        if(typeof feedUser2.company_id!='undefined' && typeof feedUser2.company_id.slug!='undefined' && feedUser2.company_id.slug!=''){
                            slug_url = '/company/'+feedUser2.company_id.slug+"/wall";
                        }else{
                            if(typeof feedUser2.slug!='undefined' && feedUser2.slug!=''){
                                slug_url = '/profile/'+feedUser2.slug+'/wall';
                            }
                        }

                       if(typeof feedUser2.company_id!='undefined' && typeof feedUser2.company_id.company_name!='undefined' && feedUser2.company_id.company_name!=''){
                            displayname = feedUser2.company_id.company_name;
                        }else{
                             displayname = feedUser2.name;
                        }
                    
                        if(typeof feedUser2.userexperiences!='undefined' && feedUser2.userexperiences.length>0){

                            if(typeof feedUser2.userexperiences[0]['title']!='undefined' && feedUser2.userexperiences[0]['title']!=''){
                                my_position = feedUser2.userexperiences[0]['title'];
                            }

                            if(typeof feedUser2.userexperiences[0]['company_id']!='undefined' && typeof feedUser2.userexperiences[0]['company_id']['company_name']!='undefined'){
                                
                                if(feedUser2.userexperiences[0]['company_id']['company_name']!=''){
                                    if(my_position!=''){
                                        my_company = ' at '+feedUser2.userexperiences[0]['company_id']['company_name'];
                                    }else{
                                        my_company = feedUser2.userexperiences[0]['company_id']['company_name'];
                                    }
                                }
                            }
                        }
                    }
                %>
                <% if(typeof _feed.title == 'undefined'){ %>
                <div class="p51_feed_post_user_info">
                    <% if(_feed.group_id != undefined) { %>
                        <a href="<%=slug_url%>">
                            <img class="p51_feed_post_user_img" src="<%=userimage%>" alt="<%=_feed.user_id.name%>">
                        </a>
                        <div class="p51_feed_post_user_feed_info">
                            <div class="fmc5002">
                                <a href="<%=slug_url%>"><%=displayname%></a>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                <a href="/group/<%=_feed.group_id.slug%>"><%=_feed.group_id.group_name%></a>
                            </div>
                            <div class="fmc5003">
                            <%
                            if(my_company!='' || my_position!=''){%>
                                    <span style="font-size:12px;"><%=my_position%> <%=my_company%></span>&nbsp; &nbsp; 
                            <% } %>
                            <%=DateDifferentService.time_ago(_feed.createdAt)%> <i class="fa fa-globe" aria-hidden="true"></i></div>
                        </div>
                    <% } else { %>
                        <a href="<%=slug_url%>">
                            <img class="p51_feed_post_user_img" src="<%=userimage%>" alt="<%=_feed.user_id.name%>">
                        </a>
                        <div class="p51_feed_post_user_feed_info">
                            <div class="fmc5002"><a href="<%=slug_url%>"><%=displayname%></a>
                            </div>
                            <div class="fmc5003">
                             <%
                                if(my_company!='' || my_position!=''){%>
                                <span style="font-size:12px;"><%=my_position%> <%=my_company%></span>
                                &nbsp; &nbsp;
                                <% } %>
                                <%=DateDifferentService.time_ago(_feed.createdAt)%> <i class="fa fa-globe" aria-hidden="true"></i></div>
                        </div>
                    <% } %>
                </div>

                <%  } else if(_feed.type != 'J'){ %>
                <div class="p51_feed_post_user_info">
                    <a href="<%=slug_url%>"><img class="p51_feed_post_user_img" src='<%=userimage%>' alt='<%=_feed.user_id.name%>' width="65" height="65" /></a>
                    <div class="p51_feed_post_user_feed_info">
                        <% if(_feed.type=='E'){ var module = "event"; }else { var module = "blogs"; } 
                            blog_slug2 =module+'/'+_feed.slug;
                        %>
                        <div class="fmc5001"><a href="<%=module%>/<%=_feed.slug%>"><%=_feed.title%></a></div>
                        <div class="fmc5002">Posted by - <a href="<%=slug_url%>"><%=displayname%></a></div>
                        <div class="fmc5003">
                        <%
                        if(my_company!='' || my_position!=''){%>
                            <span style="font-size:12px;"><%=my_position%> <%=my_company%></span>
                            &nbsp; &nbsp;
                            <% } %>
                        <%=DateDifferentService.time_ago(_feed.createdAt)%> <i class="fa fa-globe" aria-hidden="true"></i></div>
                    </div>
                </div>

                <% } else if(_feed.type == 'J'){ var Job = _feed;
                    var job_slug='';
                    var slug_url='javascript:;';
                    if(typeof Job.slug!='undefined' && Job.slug!=''){
                         job_slug =sails.config.appUrlwPort+'/jobs/'+Job.slug;
                          blog_slug2 ='jobs/'+Job.slug;
                    }
                 %>
                    
                    <span class="bookmark">
                        <% if(Job.jobBookmarks != undefined && Job.jobBookmarks.length > 0) {  %>
                        <i job_id="<%- Job.id %>" class="fa fa-bookmark" aria-hidden="true"></i>
                        <% } else { %>
                        <i job_id="<%- Job.id %>" class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <% } %>
                    </span>
                    <div class="p12_f30">
                        <% if(typeof Job.company_id != 'undefined') {
                            if(typeof Job.company_id.slug!='undefined' && Job.company_id.slug!=''){
                                slug_url=sails.config.appUrlwPort+'/company/'+Job.company_id.slug+'/wall';
                            }    
                            if(typeof Job.company_id.companydata[0].profile_image != 'undefined'){ 
                            %>
                            <a class="p12_f301" href="<%=job_slug%>">
                                <img class="p12_f302" src="<%- sails.config.appUrlwPort+sails.config.profile_image_url+Job.company_id.companydata[0].profile_image %>" alt="<% if(typeof Job.company_id != 'undefined' && typeof Job.company_id.company_name != 'undefined') { %><%- Job.company_id.company_name %><% } %>" width="65" height="65">
                            </a>
                            <% } else { %>
                            <a class="p6_sc_1002 project_img" href="<%=job_slug%>" target="_blank">
                                <span class="first-letter">
                                    <%=Job.company_id.company_name[0].toUpperCase()%>
                                </span>
                            </a>
                            <% } 
                        } else { 
                            if(typeof Job.user_id!='undefined' && typeof Job.user_id.slug!='undefined' && Job.user_id.slug!=''){
                                user_slug=sails.config.appUrlwPort+'/profile/'+Job.user_id.slug+'/wall';
                            }
                            
                            if(typeof Job.user_id.profile_image != 'undefined') {
                            %>
                                <a class="p12_f301" href="<%=job_slug%>">
                                    <img class="p12_f302" src="<%- sails.config.appUrlwPort+sails.config.profile_image_url+Job.user_id.profile_image %>" width="65" height="65">
                                </a>
                            <% } else { %>
                                <a class="p12_f301 project_img" href="<%=job_slug%>" target="_blank">
                                    <span class="first-letter">
                                        <%=Job.user_id.name[0].toUpperCase()%>
                                    </span>
                                </a>
                            <% } 
                            } %>
                        <div class="p12_f303">
                            <div class="p12_f304"><a href='<%- sails.config.appUrlwPort+"/jobs/"+Job.slug %>'><%- Job.title %></a></div>
                            <% if(Job.company_id != undefined && Job.company_id.company_name != undefined) { %>
                                <div class="p12_f305"><a href="<%=slug_url%>" title="<%- Job.company_id.company_name %>"><%- Job.company_id.company_name %></a></div>
                                <% }else{
                                    if(Job.user_id!='undefined' && Job.user_id.name!='undefined'){
                                %>
                                <div class="p12_f305"><a href="<%=slug_url%>" title="<%- Job.user_id.name %>"><%- Job.user_id.name %></a></div>
                                <% }
                                }
                                if(typeof Job.location != 'undefined' && Job.location != '') { %>
                            <div class="p12_f306"><i class="fa fa-map-marker" aria-hidden="true"></i> <%- Job.location %> </div>
                            <% } %>
                        </div>
                        <button type="button" class="btn btn-primary p12_easy_apply btnEasyApply" data-toggle="modal">Instant Apply</button>
                    </div>
                    
                <% } %>
            </div>
            <% if(_feed.type == 'J'){ %>
                <%
                    var block_flag=0;
                    var experience='';
                    var job_type='';
                    var salary = '';

                    if(typeof Job.experience_id != 'undefined' && typeof Job.experience_id.title!= 'undefined' && Job.experience_id.title!=''){
                        experience = Job.experience_id.title;
                        block_flag=1;
                    }
                    if(typeof Job.job_type_id != 'undefined' && typeof Job.job_type_id.title != 'undefined' && Job.job_type_id.title!=''){
                        job_type = Job.job_type_id.title;
                        block_flag=1;
                    }
                    if(typeof Job.salary != 'undefined' && Job.salary!=''){
                        salary=Job.salary;
                        block_flag=1;
                    }
                %>
                <% if(block_flag==1){%>
                <div class="p12_f31">
                    <% if(experience!=''){ %>
                    <div class="p12_f311"><i class="fa fa-briefcase" aria-hidden="true"></i> <%- experience %></div>
                    <% } %>
                    
                    <% if(job_type!=''){ %>
                    <div class="p12_f312"><i class="fa fa-file" aria-hidden="true"></i> <%- job_type %></div>
                    <% } %>
                    <% if(salary!=''){ %>
                    <div class="p12_f313"><i class="fa fa-money" aria-hidden="true"></i> <%- salary %></div>
                    <% } %>
                </div>
                <% } %>
            <% }
            if(_feed.type=='P') { %>
            <div class="p51_feed_post">
                <div class="p_29_mc">
                    <div class="p29_li pad20 pad_tb10">
                        <div class="p29_li_check">
                            <label class="input_check_label" for="selection1"><%-_feed.feed_details%></label>
                        </div>
                    </div>
                    <div class="p29_li_option row no-margin">
                        <%
                            var total_ans =  _feed.pollanswers.length;

                            _.each(_feed.polloptions, function (polloption) {
                                var total_option_ans = 0;
                                var avg = 0;
                                var checked = "";
                                if(polloption.pollanswers.length > 0){
                                    total_option_ans = polloption.pollanswers.length;
                                    avg = (total_option_ans * 100)/total_ans;
                                    checked = polloption.pollanswers.filter(function (person) { 
                                        return person.user_id == req.user.id;
                                    });
                                }
                        %>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <input name="answer_<%=polloption.feed_id%>[]" id="option_<%=polloption.id%>" class="input_radio form-inline answer_poll" value="<%=polloption.id%>" type="radio" <% if(checked!='') { %> checked="checked" <% } %> >
                                <label class="label" for="option_<%=polloption.id%>"><%=polloption.poll_option%></label>
                                <div class="p29_02112017">
                                    <div class="meter">
                                        <span class="poll_meter_<%=polloption.id%>" style="width: <%=avg%>%;"></span>
                                    </div>
                                    <div class="poll_count poll_count_<%=polloption.id%>">
                                        <%=avg.toFixed(2)%>% <span class="count">(<%=total_option_ans%>)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <% } else if(_feed.type=='E'){ %>
            <div class="p51_feed_post">
                <div class="p_29_mc">
                    <div class="p29_li pad20 pad_tb10">
                        <div class="p29_li_check">
                            <ul class="event-list">
                                <% 
                                if(_feed.feedmedias.length > 0) { 
                                    var event_image = "/uploads/feeds/"+_feed.feedmedias[0].image;
                                }else{
                                    var event_image = "/themes/frontend/images/image_not_found.jpeg"
                                }

                                %>                                                
                                <li>
                                    <img alt="" src="<%=event_image%>" />
                                    <div class="info">
                                        <h2 class="title"><%=_feed.title%></h2>
                                        <p class="desc">
                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; <%=_feed.location%></span><br>
                                            <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; 12 Dec, 2018</span><br>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; 9:00 AM - 12:00 PM</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <label class="input_check_label" for="selection1"><%-_feed.feed_details%></label>
                        </div>
                    </div>
                </div>
            </div>
            <% }  else if(_feed.type=='B'){ %>
            <div class="p51_feed_post_feeds">
                <%
                if(_feed.feedmedias.length > 0 ){
                    var feedmedias =  _feed.feedmedias;
                    for(var _mindex=0; _mindex < feedmedias.length; _mindex++) {
                        var _media = feedmedias[_mindex];

                %>
                <div class="feed-images">
                    <img src="<%=sails.config.appUrlwPort%>/uploads/feeds/<%=_media.image%>" class="img-responsive" width="150">
                </div>
                <% } } %>
                <div class="myspecialdiv">
                    <% var fd = _feed.feed_details; %>
                    <%-fd.replace(/<img[^>]*>/g,"").substring(0,375)%> 
                </div>
            </div>
            <% }else {
                if(_feed.type=="J"){
                    if(typeof Job.slug!='undefined' && Job.slug!=''){
                        blog_slug2 ='jobs/'+Job.slug;
                    }
                }else{
                    blog_slug2='post/'+_feed.id;
                 }
            %>
            <div class="p51_feed_post_feeds">
                <%-_feed.feed_details%>
                <%
                if(_feed.feedmedias.length > 0 ){
                    var feedmedias =  _feed.feedmedias;
                    for(var _mindex=0; _mindex < feedmedias.length; _mindex++) {
                        var _media = feedmedias[_mindex];

                %>
                <div class="feed-images">
                    <img src="<%=sails.config.appUrlwPort%>/uploads/feeds/<%=_media.image%>" class="img-responsive" width="150">
                </div>
                <% } } %>
            </div>
            <% }

                var totalLikes = 0;
                var totaldislikes = 0;
                var isliked = 0;
                var isdisliked = 0;
                feedlikes = _feed.feedlikes;

                _.each(feedlikes, function (feedlike) {
                    temp2 = [];
                    temp2 = feedlike;
                    if(feedlike.status==1){
                        totalLikes = totalLikes+1;
                    }
                    if(feedlike.status==2){
                        totaldislikes = totaldislikes+1;
                    }
                    if(feedlike.status==2 && feedlike.user_id.id==req.user.id){
                        isdisliked = 1;
                    }
                    if(feedlike.status==1 && feedlike.user_id.id==req.user.id){
                        isliked = 1;
                    }
                })
                totalLikes = totalLikes;
                totaldislikes = totaldislikes;
                isliked = isliked;
                isdisliked = isdisliked;
            %>
            <div class="p51_feed_post_feed_not">
                <div class="pull-left p51_feed_pfn1 p51_feed_pfn2"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="total_likes"> &nbsp; <%=totalLikes%> Likes</span></div>

                <!-- <div class="pull-left p51_feed_pfn1 p51_feed_pfn2"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="total_dislikes"> &nbsp; <%=totaldislikes%> Disikes</span></div> -->

                <div class="pull-right p51_feed_pfn2 total_comments"><%=_feed.feedcomments.length%> Comments</div>
                <div class="pull-right p51_feed_pfn3">0 Shares</div>
            </div>

            <div class="p51_feed_post_action bloglist">
                <button type="button" class="p51_feed_world_share_lynked"><img src="/themes/frontend/images/color-logo.svg" class="" alt="share with lynked" width="25" height="25"><span class=""> &nbsp; 55 Lynk ($0)</span> &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></button>

                <button type="button" class="active-action p51_fw12 marlr8 btnlike <% if(isliked==1){ %> active <% } %>" title="Like"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Like</span></button>

                <!-- <button type="button" class="active-action p51_fw12 btndislike <% if(isdisliked==1){ %> active <% } %>" title="Dislike"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Dislike</span></button> -->

                <button type="button" class="p51_fw12 marlr8 btncomment" title="Comment"><i class="fa fa-comment" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Comment</span></button>

                <button type="button" class="p51_fw12" title="Share" onclick="copyToClipboard('<%=blog_slug2%>')"><i class="fa fa-share" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md hidden-lg"> &nbsp; Share</span></button>

                <div class="row">
                    <div class="">
                        <div class="comment-form">
                        <div class="comments mycomments">
                        <% if(_feed.feedcomments.length > 3 ){ %>
                        <a href="javascript:;" class="see-more">
                            <i class="fa fa-repeat"></i> Load Previous Comments
                        </a>
                        <% } %>

                            <% 
                            if(_feed.feedcomments.length > 0 ){
                                var feedcomments =  _feed.feedcomments;
                                for(var _cindex=0; _cindex < feedcomments.length; _cindex++) {
                                    var _feedcomment = feedcomments[_cindex];

                                    var comment_userimage =  '/themes/frontend/images/default-user.png';
                                    var comment_user_slug  = '/profile';
                                    var displayname ='';

                                    if(typeof _feedcomment.user_id!='undefined' && typeof _feedcomment.user_id.profile_image!='undefined' && _feedcomment.user_id.profile_image!=''){
                                        comment_userimage = '/uploads/users/'+_feedcomment.user_id.profile_image;
                                    }

                                    if(typeof _feedcomment.user_id.company_id!='undefined' && typeof _feedcomment.user_id.company_id.slug!='undefined' && _feedcomment.user_id.company_id.slug!=''){
                                        comment_user_slug = '/company/'+_feedcomment.user_id.company_id.slug;
                                    }else{
                                        if(typeof _feedcomment.user_id!='undefined' && typeof _feedcomment.user_id.slug!='undefined' && _feedcomment.user_id.slug!=''){
                                        comment_user_slug ='/profile/'+_feedcomment.user_id.slug+"/wall";
                                        }
                                    }

                                   if(typeof _feedcomment.user_id.company_id!='undefined' && typeof _feedcomment.user_id.company_id.company_name!='undefined' && _feedcomment.user_id.company_id.company_name!=''){
                                        displayname = _feedcomment.user_id.company_id.company_name;
                                    }else{
                                         displayname = _feedcomment.user_id.name;
                                    }
                                   
                            %>
                            <div class="comment-wrap" data-fid="<%=_feedcomment.feed_id%>">
                                <div class="photo">
                                    <div class="avatar" style="background-image: url('<%=comment_userimage%>')"></div>
                                </div>
                                <div class="comment-block">
                                    <p class="comment-user"><a href="<%=comment_user_slug%>"><%=displayname%></a></p>
                                    <p class="comment-text"><%=_feedcomment.comments%></p>
                                    <div class="p6_comment_count pull-left">
                                        <a href="javascript:;" class="btncommentlike" data-cid="<%=_feedcomment.id%>">Like</a> 
                                        &nbsp;&nbsp;&nbsp;&nbsp; 
                                        <a href="javascript:;" class="btncommentreply">Reply</a> 
                                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                                        <a href="javascript:;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span class="totalcomtlikes"><%=_feedcomment.commentlikes.length%></span></a> 
                                        &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:;"><i class="fa fa-comment" aria-hidden="true"></i> <%=_feedcomment.commentreply.length%></a>
                                    </div>
                                    <% 
                                    if(_feedcomment.commentreply.length > 0 ){
                                        var commentreply =  _feedcomment.commentreply;
                                        for(var _crindex=0; _crindex < commentreply.length; _crindex++) {
                                            var _commentreply = commentreply[_crindex];

                                            var cr_userimage =  '/themes/frontend/images/default-user.png';
                                            var cr_user_slug  = '/profile';
                                            var display_name  = '';
                                            
                                            if(typeof _commentreply.user_id!='undefined' && typeof _commentreply.user_id.profile_image!='undefined' && _commentreply.user_id.profile_image!=''){
                                                cr_userimage = '/uploads/users/'+_commentreply.user_id.profile_image;
                                            }

                                            if(typeof _commentreply.user_id.company_id!='undefined' && typeof _commentreply.user_id.company_id.slug!='undefined' && _commentreply.user_id.company_id.slug!=''){
                                                comment_user_slug = '/company/'+_commentreply.user_id.company_id.slug;
                                            }else{
                                                 if(typeof _commentreply.user_id!='undefined' && typeof _commentreply.user_id.slug!='undefined' && _commentreply.user_id.slug!=''){
                                                    cr_user_slug = '/profile/'+_commentreply.user_id.slug+"/wall";
                                                }
                                            }
                                            
                                            if(typeof _commentreply.user_id.company_id!='undefined' && typeof _commentreply.user_id.company_id.company_name!='undefined' && _commentreply.user_id.company_id.company_name!=''){
                                                display_name = _commentreply.user_id.company_id.company_name;
                                            }else{
                                                 display_name = _commentreply.user_id.name;
                                            }

                                    %>
                                    <div class="comment-wrap ember-mode" style="display: block;">
                                        <div class="photo">
                                            <div class="avatar" style="background-image: url('<%=cr_userimage%>')">
                                            </div>
                                        </div>
                                        <div class="comment-block">
                                            <p class="comment-user"><a href="<%=cr_user_slug%>"><%=display_name%></a></p>
                                            <p class="comment-text"><%=_commentreply.comments%></p>
                                            <div class="p6_comment_count pull-left">
                                                <a href="javascript:;"  class="btncommentlike" data-cid="<%=_commentreply.id%>">Like</a> 
                                                &nbsp;&nbsp;&nbsp;&nbsp; 
                                                <a href="javascript:;" class="btncommentreply">Reply</a> 
                                                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                                                <a href="javascript:;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span class="totalcomtlikes"><%=_commentreply.commentlikes.length%></span></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp; 
                                                <a href="javascript:;"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
                                            </div>
                                            <div class="bottom-comment">
                                                <div class="comment-date"><%=DateDifferentService.time_ago(_commentreply.createdAt)%></div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } } %>
                                    
                                    <form method="post" class="form-comment formReply commentForm" style="display: none;">
                                        <div class="form-group">
                                            <textarea name="comments" id="comments" class="form-control post_comment" placeholder="Add a comment..."></textarea>
                                            <input name="parent_id" value="<%=_feedcomment.id%>" class="parent_id" type="hidden">
                                            <input name="feed_id" value="" type="hidden">
                                            <button type="submit" class="send-comment" value="replyform"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                        </div>
                                    </form>
                                    <div class="bottom-comment">
                                        <div class="comment-date"><%=DateDifferentService.time_ago(_feedcomment.createdAt)%></div>
                                    </div>
                                </div>
                            </div>
                            <% } } %>
                        </div>
                            <form method="post" class="form-comment commentForm">
                                <div class="form-group">
                                    <textarea name="comments" id="comments" class="form-control post_comment" placeholder="Add a comment..."></textarea>
                                    <input name="parent_id" class="parent_id" value="" type="hidden">
                                    <input name="feed_id" value="<%=_feed.id%>" type="hidden">
                                    <button type="submit" class="send-comment" value="mainform"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } } %>
